*,
*::before,
*::after {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #36adb9;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

header {
    background: url(../images/bg-masthead.jpg) center;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgb(75, 62, 62);
    height: 100vh;
    color: white;
    position: relative;
}

nav {
    padding:  20px 10%;
}

nav a {
    text-decoration: none;
    color: rgb(187, 182, 182);
}

nav a:hover {
    color: white;
}

nav button {
    padding: 0 5px;
    border: none;
    width: 40px;
    float: right;
    background-color: transparent;
}

nav button span {
    display: inline-block;
    width: 30px;
    border: solid 2px rgb(187, 182, 182);
    vertical-align: middle;
}

.site-name {
    font-weight: bold;
    margin-bottom: 20px;
    float: left;
    width: 50%;
}

.main-nav {
    list-style: none;
    display: none;
}

.main-nav a {
    padding: 15px 0;
    line-height: 1.5rem;
    text-transform: capitalize;
}

@media screen and (min-width: 740px) {
    nav button {
        display: none;
    }

    .site-name {
        width: 30%;
        float: left;
    }

    .main-nav {
        width: 60%;
        float: right;
        text-align: right;
        display: block;
    }

    .main-nav li {
        display: inline;
        padding: 7px;
    }
}

.landing-text {
    clear: both;
    width: 60%;
    margin: auto;
    padding: 15px;
    height: 50vh;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 482px) {
    .landing-text {
        padding: 15% 0;
    }
}


.landing-text h1 {
    text-transform: uppercase;
}

 hr {
    width: 30px;
    margin: 20px auto;
    border: solid 1px white;
    }

.text {
    font-family: 'Times New Roman', Times, serif;
    
}

 .button {
    width: 140px;
    padding: 15px;
    border: none;
    border-radius: 40px;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}


.landing-text .button {
    background-color: tomato;
    color: white;
}

section {
    padding: 100px 0;
    text-align: center;
}

.section1 {
    background-color: tomato;
    color: white;
}

.section1-div1 {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.head {
    font-size: 2rem;
}

.section1-div1 .button {
      color: tomato;
}

.section2 {
    padding: 100px 30px;
}


.section2 .sub-head {
    font-weight: bold;
}

.section2 hr {
    border: solid 1px black;
}

.section2-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

 .section2 .flex {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 15%;
}

.section2-flexbox .flex-icon {
    font-size: 5em;
    color: tomato;
}

@media screen and (min-width: 700px) {
    .section2 .flex {
        width: 50%;
    }
}

@media screen and (min-width: 1000px) {
    .section2 .flex {
        width: 25%;
        padding: 0 15px;
    }
}

.section3 {
    padding: 20px 0 0;
}

.section3 img {
    display: block;
    width: 100%;
}

@media screen and (min-width: 700px) {
    .section3 img {
        width: 50%;
        float: left;
    }
}
    
@media screen and (min-width: 1000px) {
    .section3 img {
            width: 33.33%;
    }
}

.section4 {
    background-blend-mode: soft-light;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    padding: 200px 3%;
}

.section4 button{
    width: 200px;
}

@media screen and (min-width: 700px) {
    .section4 h3 {
        position: relative;
        top: 90px;
    }
    
    .section4 button{
        width: 200px;
        position: relative;
        top: 90px;
    }
}

.section5 {
    padding: 100px 3%;
}

.section5 hr {
    border-color: tomato;
}

.flexbox .flex {
    margin: 30px 0;
}

.section5 .flex2 p {
    color: tomato;
}

@media screen and (min-width: 699px) {
    .section5 .flexbox {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 60%;
        margin: 0 auto;
    }
}

footer  {
    text-align: center;
    padding: 20px;
}